body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #e82070;
  font-weight: 700;
  font-size: 5rem;
}

/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */

.cover-container {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

main {
  width: 68%;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: 2.5rem;
  color: #e82070;
}

#secondarySection {
  background-color: #f5d9d5;
}

#secondarySection h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  color: #6b1609;
  font-weight: 700;
}

#secondarySection blockquote,
#secondarySection figcaption {
  font-size: 1.3rem;
  margin: 1rem;
  font-weight: 500;
  color: #e82070;
}

#secondarySection .lead {
  font-size: 1.5rem;
  color: #b11b57;
  margin-top: 2.5rem;
}

#secondarySection button {
  background-color: #e82070;
  color: #f5d9d5;
  margin-top: 1.5rem;
}

#secondarySection button:hover {
  background-color: #b11b57;
}

footer {
  background-color: #f5d9d5;
  color: #b11b57;
}
